#typing
{
    margin: 4% 0% 2% 0%;
    font-family: Jomolhari;
    font-size: 10vh;
    color:black;
}

#icon
{
    background-image: url("./images/genshi.jpg");
    background-size: contain;
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    background-repeat:  no-repeat;
    cursor: pointer;
}

#icon:active
{
    background-image: url("./images/mabataki.png");
}

#name
{
    margin: 1%
    0%;
    font-family: Noto Sans JP;
    font-size: 5vh;
    color:black;
}

p
{
    width: 100%;
}
.mainprofile
{
    font-family: Noto Sans JP;
    color: grey;
    margin: 3% 20%;
    word-wrap: break-word;
}

.pagejamp div
{
    font-family: Jomolhari;
    display: inline-block;
    font-size: 200%;
    margin: 6% 0% 0% 2%;
}

.pagejamp a
{
    text-decoration: none;
    color: black;
    position: relative;
}

.pagejamp a:hover
{
    text-decoration: none;
    color: black;
}

.pagejamp a::after 
{
    position: absolute;
    bottom: 3px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: gray;
    transform: scale(0, 2);
    transform-origin: left top;
    transition: transform .3s;
}

.pagejamp a:hover::after 
{
    transform: scale(1, 2);
}