body
{
    background-color: #eceff1;
}

#typing
{
    margin: 4% 0% 2% 0%;
    font-family: Jomolhari;
    font-size: 10vh;
    color:#37474f;
}

div p
{
    font-family: Noto Sans JP;
    font-size: 5vh;
}

.furait img
{
    display: block;
    transition-duration: 0.3s;
    width: 250px;
    height: 250px;
}

.furait img:hover
{
    transform: scale(1.1);
	transition-duration: 0.3s;
}

.yurui img
{
    display: block;
    transition-duration: 0.3s;
    width: 250px;
    height: 250px;
}

.yurui img:hover
{
    transform: scale(1.1);
	transition-duration: 0.3s;
}

.kosen_conf_in_hokkaido img
{
    display: block;
    transition-duration: 0.3s;
    width: 250px;
    height: 129*px;
}

.kosen_conf_in_hokkaido img:hover
{
    transform: scale(1.1);
	transition-duration: 0.3s;
}

.furait
{
    padding: 6% 0%;
}

.yurui
{
    padding: 0% 0% 6% 0%;
}

.pagejamp div
{
    font-family: Jomolhari;
    display: inline-block;
    font-size: 3.5vh;
    margin: 6% 0% 0% 2%;
}

.pagejamp a
{
    text-decoration: none;
    color: #37474f;
    position: relative;
}

.pagejamp a:hover
{
    text-decoration: none;
    color: #37474f;
}

.pagejamp a::after 
{
    position: absolute;
    bottom: 7px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: gray;
    transform: scale(0, 2);
    transform-origin: left top;
    transition: transform .3s;
}

.pagejamp a:hover::after 
{
    transform: scale(1, 2);
}