@charset "utf-8";
#typing
{
    color:black;
    font-family: serif;
    font-size: 10vh;
    margin: 5%;

}

#icon
{
    width: 30vh;
    margin: 5vh;
}

.komidashi
{
    color:black;
    font-family: serif;
    font-size: 8vh;
    margin: 7vh;
    margin-left: 8vh;
}


#linkcolor
{
    text-decoration: none;
    color:black;

}

#github
{
    width: 30vh;
}

#twitter
{
    width: 30vh;
}

#facebook
{
    width: 30vh;
}

#gmail
{
    width: 30vh;
}

