@charset "utf-8";
#typing
{
    color:black;
    font-family: serif;
    font-size: 10vh;
    margin: 3%;

}

.pile
{
    position: relative;
}

#icon
{
    width: 50vh;
}

/* #mabataki
{
    width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 0%;
    left: 37.6%;
    text-align: center;
} */

.komidashi
{
    margin: -5%;
    margin-left: -8%;
    text-align: center;
}

.komidashi div
{
    color: black;
    font-family: serif;
    font-size: 8vh;
    display: inline-block;
    margin: 9%;
}

div a
{
    text-decoration: none;
    color: black;
}
div a:hover
{
    text-decoration: none;
    color: black;
}

.images
{
    text-align: center;
}

#github
{
    border-radius: 50%;
    width:  90px;
    height: 90px;
}

#twitter
{
    border-radius: 50%;
    width:  90px;
    height: 90px;
    margin: 0% 10%;
}

#facebook
{
    border-radius: 50%;
    width:  90px;
    height: 90px;
}

p
{
    padding: 20vh 5vh 2vh 0vh;
    font-size: 20px;
    text-align: right;
}

p img
{
    margin: 0px 10px;
    width: 30px;
    height: 30px;
}


